#header-inner, #content, #footer-inner {
	width: 1104px !important;
}

#main {
	width: 864px !important;
}

#main.main-full {
	width: 1104px !important;
}

div.edit-form {
	width: 630px !important;
}

#main ol.dribbbles li.group {
	width: 420px !important;
}

#main ol.dribbbles li.end-of-row {
	margin: 0 20px 30px 0 !important;
}

#main ol.dribbbles li:nth-child(even) {
	margin-right: 0 !important;
}

#main ol.dribbbles li div.dribbble div.dribbble-shot {
	background: url(http://dribbble.com/images/dribbble-checkerbg-lg.gif) no-repeat 10px 10px !important;
}

#main ol.dribbbles li div.dribbble-img {
	display: table-cell !important;
	height: 300px !important;
	text-align: center !important;
	vertical-align: middle !important;
	width: 400px !important;
}

#main ol.dribbbles li div.dribbble a.dribbble-over {
	bottom: 31px !important;
	height: auto !important;
	text-align: left !important;
	top: auto !important;
	width: 380px !important;
}

#main ol.dribbbles li div.dribbble a.dribbble-over em {
	margin-top: 10px !important;
	position: static !important;
}

#main ol.dribbbles li div.dribbble-img img {
	max-width: 100% !important;
}
	
#main div.col-5, #main div.col-5-last {
	width: 412px !important;
}

div.full {
	width: 864px !important;
}

ol.activity li div.act-item {
	width: 710px !important;
}

#comments-section {
	width: 620px !important;
}

.comment-body {
	width: 550px !important;
}

form.comment textarea {
	width: 604px !important;
}

form[action="/session"] {
	width: 460px !important;
	margin: 20px auto !important;
}

#main div.col-50, #main .col-50-last {
	width: 420px !important;
}

ol.dribbbles li h2 a {
	display: inline-block;
}

ol.multi-grid {
	width: 440px !important;
}

#secondary ol.multi-grid, #profile ol.multi-grid, #user-profile ol.multi-grid {
	width: 240px !important;
}

#explore .multi-5 ol.multi-grid {
	width: 240px !important;
}


div.multi-5 div.multi-meta {
	width: 180px !important;
}

ol.multi-grid li.multi-thumb {
	margin: 0 0 18px 20px !important;
}

ol.dribbbles li h2 span.badge {
	vertical-align: inherit !important;
}

#profile .multi ol.group li.group, #shots .multi ol.group li.group {
	margin: 0 !important;
	padding: 0 !important;
}

.multi-5 ol.dribbbles, .multi ol.dribbbles {
	width: 422px !important;
}

#players ol.dribbbles li div.dribbble {
	height: 399px !important;
	background: url(http://dribbble.com/images/dribbble-shadow-lg.png) no-repeat bottom right !important;
}

#players ol.dribbbles li div.dribbble div.dribbble-shot {
	height: 372px !important;
}

#players ol.dribbbles li div.dribbble div.dribbble-shot .vcard {
	margin-top: -1px !important;
}

#players ol.dribbbles li h2 a {
	height: 13px !important;
}

#players ol.player-cards li ul.player-stats li {
	width: auto !important;
}

#players ol.player-cards li ul.player-stats {
	background: none !important;
}